.barber-container {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll; /* Ha több fodrász van, akkor görgethetők legyenek */
  padding: 10px;
}

.barber-card {
  width: 200px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.barber-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.barber-card.selected {
  border: 2px solid #f1c40f;  /* Kiemelés sárga színnel */
}

.barber-card h3 {
  color: white;
  margin: 10px 0;
}

.barber-card p {
  color: white;
  font-size: 14px;
}

#barber-selection {
  margin-top: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #f1c40f;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}
